#container{
  width: 80%;
  margin: 0 auto;
  color: black;
  
}

body a{
    color: black;
}

header{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 4%;;
}


header h1, footer p{
    text-align: center;
}

h1 a:hover{
    text-decoration: none;
}

a:active{
    text-decoration: underline;
}


h1{
    font-family: 'Covered By Your Grace';
}

.headings{
    font-size:2em;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.card {
    border: none;
    padding-left: 2%;
    padding-right: 2%;
  }


  img,
  .card-img-top {
    border-radius: 0em;
  }
  
.card-columns{
    column-count: auto;
    margin: 0 auto;
}


.back-to-top{
    float: right;
    position: fixed;
    left: 90%;
    bottom: 0;
    font-size: 2em;
}

nav i{
    font-size: 2em;
}