body{
  width: 80%;
  margin: 0 auto;
  color: black;
}

body a{
    color: black;
}

#navigation{
    width: 80%;
    margin: 0 auto;

}

#navigation h1, footer p{
    text-align: center;
}

h1 a:hover{
    text-decoration: none;
}

a:active{
    text-decoration: underline;
}


h1{
    font-family: 'Covered By Your Grace';
}

.headings{
    font-size:2em;
    text-align: center;
    margin-top: 5%;
}

.card {
    border: none;
    padding-left: 2%;
    padding-right: 2%;
  }
  img,
  .card-img-top {
    border-radius: 0em;
  }
  
.card-columns{
    column-count: auto;
    margin: 0 auto;
}

#weirdo{
    margin-top: 3%;
}