#container{
  width: 80%;
  margin: 0 auto;
  color: black;
  
}

body a{
    color: black;
}

header{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 4%;;
}


header h1, footer p{
    text-align: center;
}

h1 a:hover{
    text-decoration: none;
}

a:active{
    text-decoration: underline;
}


h1{
    font-family: 'Covered By Your Grace';
}

.headings{
    font-size:2em;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.card {
    border: none;
    padding-left: 2%;
    padding-right: 2%;
  }


  img,
  .card-img-top {
    border-radius: 0em;
  }
  
.card-columns{
    column-count: auto;
    margin: 0 auto;
}


.back-to-top{
    display: block;
    position: fixed;
    left: 92%;
    bottom: 0;
    font-size: .85em;
    text-align: center;
}
.back-to-top i{
    display: block;
    font-size: 2em;
}
.back-to-top:hover{
    text-decoration: none;
}
nav i{
    font-size: 2em;
    text-align: center;
}

#animals, #weirdo{
    padding-top: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    padding-bottom: 3%;
}

#web{
    margin-top: 3%;
}

footer p{
    font-size: .75em;
}

#butterfly{
    border-radius: 4px;
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 5%;
}